<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div style="width:400px; text-align:left;margin:0 auto; ">
    <table class="table" style="height:auto">
      <caption>Qbox Token</caption>
      <thead>
        <tr>
          <th>字段</th>
          <th>值</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><span style="color:red">*</span>requestUrl</td>
          <td><input type="text" class="form-control"></td>
        </tr>

        <tr>
          <td>requestBody</td>
          <td><input type="text" class="form-control"></td>
        </tr>
      </tbody>
    </table>

  </div>
  </body>
</html>
